# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
/emacs/projectile-bookmarks.eld
/emacs/bookmarks
/emacs/cider-history
/emacs/projects
/emacs/recentf
/emacs/transient/
/emacs/url/
/emacs-minimal/custom.el
/emacs-minimal/elpa/
/emacs-minimal/history
